html {
   overscroll-behavior-y: none;
}

.book-hero .external-link {
    font-weight: 600;
    color: oklch(54.6% 0.245 262.881);
}

.book-hero .external-link:visited {
    color: oklch(54.6% 0.245 262.881) !important;
}

.book-kind-home .container {
    max-width: 50rem;
    user-select: none;
}

.book-kind-home .profile-img {
    border: 1px solid oklch(92.2% 0 0);
    pointer-events: none;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    overflow: hidden;
}

.book-kind-home .book-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-kind-home .empty-img img {
    width: 50%;
}

.profile-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0;
    text-decoration: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.profile-link + .profile-link {
    margin-top: 0.25rem;
}

.book-kind-home .profile-link.github {
    background-color: #25292E;
    gap: 0.5rem;
}


.book-kind-home .profile-link:hover {
    text-decoration: none !important;
}

.book-kind-home .profile-link.github img {
    width: 20px;
    pointer-events: none;
}

.book-kind-home .profile-link.github label {
    pointer-events: none;
}

.book-kind-home .profile-link.github .btn-text {
    color: #FFFAFA;
    font-weight: 600;
}

.book-kind-home .profile-link.github .book-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.terminal-font {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  color: #6CE946 !important;
  background-color: black;
}

.book-menu-content * {
    user-select: none;
}

.book-page *::selection, .book-page *::-moz-selection {
    background-color: #FCEFA4;
}

.book-page .doc-title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.book-page .doc-metadata {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.book-page .doc-tag-container {
    z-index: -1;
}

.book-page .doc-tag-ul {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.book-page .doc-tag-ul li {
    border-radius: 0.25rem;
    overflow: hidden;
}

.book-page .doc-tag-ul li a {
    background-color: oklch(54.742% 0.24331 262.725 / 0.1);
    padding: 0.175rem 0.75rem;
}

.book-header {
    background-color: white;
    position: sticky;
    top: 0;
    padding: 1rem 0;
}

.book-header .header-title {
    opacity: 0;
    transition: opacity;
    transition-duration: 150ms;
}

.gap-2 {
    gap: 0.5rem;   
}

.font-bold {
    font-weight: bold;
}

.markdown h1, .book-page .doc-title {
  font-size: 1.75rem !important;
}
.markdown h2 {
  font-size: 1.5rem !important;
}
.markdown h3 {
  font-size: 1.375rem !important;
}
.markdown h4 {
  font-size: 1.25rem !important;
}

:where(.markdown) :where(h1, h2, h3, h4) {
    font-weight: 500 !important;
}

@media screen and (max-width: $mobile-breakpoint) {
    .book-kind-home .profile-img {
        margin-bottom: 1rem;
    }
    .book-kind-home .profile-link {
        padding: 0.5rem 0;
    }
    .profile-link + .profile-link {
        margin-top: 0.375rem;
    }
    .book-page {
        padding-top: 0 !important;
    }
}